/* style.css */

.register-container {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-card {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 420px;
  transition: 0.3s ease-in-out;
  box-shadow: 0px 0px 10px rgb(92, 136, 215);
}

.register-card:hover {
    box-shadow: 0px 0px 10px rgb(210, 112, 213), -2px -2px 5px rgb(73, 143, 199);

}

.register-title {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 28px;
  color: #333;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-group {
  position: relative;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: #7233df;
  font-size: 16px;
}

.input-group input {
  width: 100%;
  padding: 12px 12px 12px 40px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 15px;
  transition: border-color 0.2s ease;
}

.input-group input:focus {
  border-color: #667eea;
  outline: none;
}

.register-form button {
  padding: 12px;
  background-color: #667eea;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
   background: linear-gradient(135deg, #6366f1, #4f46e5);
}

.register-form button:hover {
    opacity: 0.9;
}

.message {
  margin-top: 16px;
  text-align: center;
  color: red;
  font-size: 16px;
}
.error-text {
  color: red;
  font-size: 0.85rem;
}
.login-link{
padding: 10px;
}

.radio-label {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-right: 20px;
  cursor: pointer;
}
.role-options {
  display: flex;
  margin-top: 6px;
}
