@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
  margin: 0px;
  padding: 0px;
  font-family:Outfit;
  box-sizing: border-box;
  scroll-behavior: smooth;

}

.hide-scrollbar::-webkit-scrollbar {
  display: none !important;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* bhai ye graph pe baar baar click karne par jo border tha usko hatane ke liye hain*/
svg:focus,
rect:focus {
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}


