@import "tailwindcss";

.students {
  /* Height ka Concept yahan nhi de rakha hin bhai wo grow hogi*/
  @apply w-full flex flex-col justify-center text-center border border-red-700;

  @apply border border-red-700;
}

.students-heading{
  color: #080160;
  @apply border border-green-500 text-3xl font-medium;
}

.stats-summary{
  @apply flex flex-col text-center border border-blue-500 p-5 text-3xl lg:mb-12;

}

.stats-summary-heading{
  @apply  font-light text-blue-950 flex justify-center gap-3.5 md:py-2.5;
}

.stats-summary-cards-container{
  @apply border grid lg:grid-cols-4 max-lg:grid-cols-2 max-md:grid-cols-1 gap-2 text-lg;
}

.overall-attendance-graph{
  @apply flex flex-col justify-center text-center p-5  border border-amber-200;
  @apply min-h-[300px];
}

.control-and-filter-section{
  @apply border border-red-500 md:p-10;
}


.student-table{
  @apply md:p-10  max-md:text-sm;
}


/* font-size: 2rem;
font-weight: 600;
color: #080160; */




/* 
.home {
  width: 100%;
  color: red;
  @apply w-full flex flex-col justify-center text-center;
} */