@import 'tailwindcss';
.sidebar{
    width: 20vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    position: relative;
    @apply hidden md:block border-r-1 border-gray-300 p-3;
}

.sidebar-links{
    width: 80%;
    position:absolute;
    top: 10px;
    @apply mx-auto w-5/6 flex flex-col justify-between text-center gap-2;
}
.sidebar-links a {
  @apply border border-gray-200 rounded-md flex justify-start gap-1.5 p-2 transition-all duration-150;
}

.sidebar-links a{
    @apply border-1 border-gray-200 rounded-md flex justify-start gap-1.5 p-2 ;
}

a.active-sidebar{
    @apply text-blue-600 border border-blue-600 font-medium  flex items-center gap-2 shadow-md shadow-blue-50 ;
}

.sidebar-links a:not(.active):hover{
    background: #b9b9b91b;
    color: #2563EB;
}

