@import "tailwindcss";

.students {
  /* Height ka Concept yahan nhi de rakha hin bhai wo grow hogi*/
  @apply w-full flex flex-col justify-center text-center gap-2.5 md:py-5;
  /* @apply border border-red-700; */
}

.students-heading{
  color: #080160;
  @apply  text-3xl font-medium md:py-5;
  /* @apply border border-green-500; */
}

.stats-summary{
  @apply flex flex-col text-center  p-5 text-3xl lg:mb-12;
  /* @apply border border-blue-500; */

}

.stats-summary-heading{
  @apply  font-light text-blue-950 flex justify-center gap-3.5 md:py-2.5;
}

.stats-summary-cards-container{
  @apply  grid lg:grid-cols-4 max-lg:grid-cols-2 max-md:grid-cols-1 gap-2 text-lg;
  /* @apply border; */
}

.overall-attendance-graph{
  overflow-y: auto;
  @apply flex flex-col justify-center text-center p-5 pt-0;
  @apply min-h-[300px];
  /* @apply border border-amber-200; */
}

.control-and-filter-section{
  @apply md:px-10  md:py-3;
  /* @apply border border-red-500 ; */
}


.student-table{
  overflow-x: auto;
  @apply md:min-h-64 md:p-10  max-md:text-sm;
}




/* font-size: 2rem;
font-weight: 600;
color: #080160; */




/* 
.home {
  width: 100%;
  color: red;
  @apply w-full flex flex-col justify-center text-center;
} */