@import 'tailwindcss';


/* Base Styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  border-bottom: 1px solid #eee;
  position: relative;
  @apply px-28;
}

.navbar-logo {
  font-weight: bold;
  text-align: center;
  flex-grow: 1;
  color: #333;
}

.logo-image{
    width: max(1vw,100px);
}



.hamburger {
  display: none;
  font-size: 22px;
  background: none;
  border: none;
  cursor: pointer;
}

.navbar-links {
  display: flex;
  gap: 20px;
}

.navbar-links a {
  text-decoration: none;
  color: #333;
}

.nav-link {
  text-decoration: none;
  padding-bottom: 4px;
  position: relative;
}

.active-link {
  border-bottom: 2px solid #007bff;
  color: #007bff;
  font-weight: 600;
}

.navbar-links a:not(.active-link):hover{
  color: #007bff;
}

.navbar-avatar {
  position: relative;
}

.avatar-img {
  width: 36px;
  height: 36px;
  border-radius: 9999px;
  border: 2px solid #007bff;
  cursor: pointer;
}

.avatar-dropdown {
  position: absolute;
  top: 48px;
  right: 0;
  width: 160px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.avatar-dropdown a,
.avatar-dropdown button {
  display: block;
  padding: 10px;
  text-align: left;
  font-size: 14px;
  color: #333;
  background: none;
  border: none;
  width: 100%;
  cursor: pointer;
}

.avatar-dropdown a:hover,
.avatar-dropdown button:hover {
  background: #b9b9b91b;
}
.logout-btn {
  color: red;
}

.dropdown-arrow {
  position: absolute;
  top: -6px;
  right: 20px;
  width: 12px;
  height: 12px;
  background: white;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  transform: rotate(45deg);
}

/* Mobile Menu */
.mobile-menu {
  position: absolute;
  top: 56px;
  left: 0;
  right: 0;
  background: white;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #eee;
}

.mobile-menu a {
  padding: 12px 16px;
  text-decoration: none;
  color: #333;
  border-bottom: 1px solid #f2f2f2;
}

.mobile-menu a:hover {
  background: #b9b9b91b;
  color: #007bff;
}

/* Media Queries */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .navbar-links {
    display: none;
  }

  .navbar {
    justify-content: space-between;
  }

  .navbar-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
